.detail-box{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 99.9%;
}
.detail-item{
    margin-top: 150px;
    width: 100%;
}
.detail-img{
    width: 550px;
    margin: auto;
    margin-bottom: 50px;

}
.detail-textbox{
    margin: auto;
    width: 300px;
    margin-left: 70px;
    height: 520px;
}
.detail-fixbox{
    position: fixed;
}

.detail-text{
    width: 100px;
}
.detail-money{
    width: 300px;
}
.detail-btn{
    margin: auto;
    margin-top: 10px;
    height: 30px;
    margin-left: 10px;
}

.detail-container{
    display: flex;
    margin: auto;
    width: 100%;  
}

.detail-imgbox{
    width: 500px;
    margin: auto;
}
.detail-mapbox{
    width: 42%;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(207, 207, 207);
}
.detail-userbox{
    width: 200px;
}
.detail-rate{
    margin-left: 8px;
    margin-top: 7px;
    margin-bottom: 20px;
    width: 100px;
}
.detail-reviewName{
    margin-left: 10px;
    margin-top: 7px;
    color: gray;
    width: 110px;
}
.detail-reviewDate{
    margin-left: 10px;
    font-size: 12px;
    margin-top: 7px;
    color: gray;
}
.detail-reviewText{
    width: 100%;
    margin-left: 30px;
    margin-top: 15px;
    color: rgb(49, 49, 49);
}
.detail-reviewBtn{
    border: none;
    background-color: rgba(240, 248, 255, 0);
}
.detail-flexbox{
    display: flex;
    width: 100%;
}
.map-box{

}
.detail-form{
    margin: auto;
}
.detail-input{
    margin-top: 100px;
}

.inputbox{
    display: flex;
    border-bottom: 1px solid rgb(206, 206, 206);
    margin: auto;
    padding-left: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    width: 30%;
}


.detail-name{
    width: 15%;
}
.inputtext{
    width: 100%;
    display: flex;
}


.xbtn{
    margin: auto;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.detail-outlet{
    width: 500px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}
.detail-navbox{
    display: flex;
    justify-content: center;
    
}
.detail-nav1{
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
    height: 50px;
}
.detail-nav2{
    cursor: pointer;
    border: 1px solid black;
    width: 200px;
    height: 50px;
}

/* 반응형 */
/* @media screen and (max-width: 1470px) {
    .detail-textbox{
        position: fixed;
        left: 350px;
    }
}
@media screen and (max-width: 1230px) {
    .detail-textbox{
        position: fixed;
        left: 370px;
    }
    .detail-mapbox{
        width: 500px;
    }
}
@media screen and (max-width: 1000px) {
    .detail-textbox{
        position: relative;
        margin: auto;
        top: -20px;
        left: 90px;
        width: 400px;
        height: 400px;
    }
    .detail-img{
        width: 550px;
        margin-left: -80px;
        margin-bottom: 50px;
    
    }
} */