.review-container{
    border: 1px solid rgba(255, 0, 0, 0);
}
.review-modal{
    margin-top: 150px;
}
.review-title{
    text-align: center;
}
.review-subtitle{
    text-align: center;
}
.review-img{
    display: flex;
    margin: auto;
    width: 100px;
}
.review-star{
    width: 150px;
    margin: auto;
}
.review-input{
    margin: auto;
    display: flex;
    width: 300px;
    height: 140px;
    margin-top: 0px;
}
.review-btn{
    display: flex;
    justify-content: center;
    width: 300px;
    margin: auto;
    margin-top: 50px;
}